@model List<Brand>

<section class="products container section">
    <h2 class="section__title">Newly Added Brands</h2>
    <div class="products__container grid">
        @if (Model != null && Model.Any())
        {
            @foreach (var brand in Model)
            {
                <div class="product__item">
                    <div class="product__banner">
                        <a href="@Url.Action("GetAllProductsOfCurrentBrand", "Customer", new { brandId = brand.brandId })" class="product__images">
                            <img src="@Url.Content($"~/{brand.brandLogoURL}")"
                                 alt="@brand.brandName"
                                 class="product__img default" />
                            <img src="@Url.Content($"~/{brand.brandLogoURL}")"
                                 alt="@brand.brandName"
                                 class="product__img hover" />
                        </a>
                    </div>
                    <div class="product__content">
                        <div class="product__category">@brand.niche</div>
                        <h2 class="product__title">@brand.brandName</h2>
                        <div class="product__tagline">
                            <p>@brand.tagLine</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-results">
                <i class="fi fi-rs-info"></i>
                <p>No new brands available</p>
            </div>
        }
    </div>
</section>